
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.inline-block {
    display: inline-block;
    vertical-align: top;
}

li {
    font-family: Oswald;
    padding: 10px;
}

.navigation {
    width: 100%;
    display: inline-flex;
    /*background-color: #373738;*/
}

.logo {
    /*display: flex;*/
    padding: 10px;
}

nav {
    width: 73%;
    padding: 1%;
}

.navContent {
    width: 100%;
    background-color: rgb(5, 1, 1);
}
.navContent ul {
    float: left;
}


ul {
    width: 50%;
    margin-left: auto;
}

li {
    color: white;
}

.heroImg {
    /*background-color: aliceblue;*/
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

.footerContent {
    justify-content: center;
}

footer {
    background-color: #373738;
    padding: 20px;
}

footer li {
    vertical-align: top;
    /*padding: 10px;*/
}

.portrait {
    width: 200px;
}

































